/* ------------------------------------------------------------------------ */
/* Sitewide */
/* ------------------------------------------------------------------------ */

* {
   box-sizing:border-box;
}

.hidden {
   display:none !important;
}

html {
   width:100%;
}

body {
   margin:0;
   padding:1em;
   font-size:18px;
   line-height: 1em;
   width:100vw;
   overflow-x:hidden;
   background-color: #fff5f5;
   background-position: top center;
   background-image: url(/assets/page-bg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 800px auto;
}

@media screen and (min-width:800px) {
   body {
      padding:2em;
      background-size: cover;
   }
}

p {
   margin:0 0 .6em 0;
   font-size:14px;
}

a,
a:visited {
   color:#ff395e;
}

a:hover {
   color:#ff7d95;
}

img {
   display:block;
   width:100%;
   max-width:100%;
   height:auto;
   margin-bottom:18px;
}

h1,h2,h3,h4,h5,h6 {
   margin:0 0 12px 0;
   line-height: 1.2em;
   font-family: 'Libre Baskerville', serif;
}

/* ------------------------------------------------------------------------ */
/* Layout */
/* ------------------------------------------------------------------------ */

#Page {
   max-width:1200px;
   margin:2em auto 0 auto;
   position:relative;
}

#Masthead {
   margin-bottom:18px;
}

@media screen and (min-width:800px) {
   #Masthead {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1auto;
      grid-template-areas: "site-header contact-form";
      margin-bottom:4em;
   }

   #SiteHeader {
      grid-area:site-header;
      padding-right:24px;
   }

   #ContactForm {
      grid-area:contact-form;
   }
}

/* ------------------------------------------------------------------------ */
/* Designs List */
/* ------------------------------------------------------------------------ */

ul.DesignsList {
   list-style:none;
   margin:0;
   padding:0;
}

li.DesignItem {
   margin-bottom:18px;
   border-radius:8px;
   background-color: #fff;
   box-shadow:2px 2px 6px rgba(20,20,20,0.2);
   transition:all .3s ease;
}

li.DesignItem:hover {
   transform:scale(1.02);
   box-shadow:4px 4px 6px rgba(20,20,20,0.1.7);
}

li.DesignItem div {
   padding:1em;
}

li.DesignItem h2 {
   font-size:24px;
}

li.DesignItem a.ImageWrapper {
   display:block;
   overflow:hidden;
   max-height:200px;
   margin-bottom:18px;
}

@media screen and (min-width:570px) {
   ul.DesignsList {
      width:100%;
      display:flex;
      flex-wrap: wrap;
   }
   
}

@media screen and (min-width:570px) and (max-width:1199px) {
   li.DesignItem {
      flex:0 0 32%;
      margin-bottom:2%;
   }
   
   li.DesignItem:not(:nth-of-type(3n)) {
      margin-right:2%;
   }
}

@media screen and (min-width:1200px) {
   li.DesignItem {
      flex:0 0 19%;
      margin-bottom:1.25%;
   }
   
   li.DesignItem:not(:nth-of-type(5n)) {
      margin-right:1.25%;
   }
}

li.DesignItem span {
   display:block;
}

li.DesignItem a.PurchaseLink {
   display:block;
   clear:both;
   margin-top:1.5em;
   padding:.75em .75em .5em .75em;
   font-size:11px;
   text-transform: UPPERCASE;
   border:1px solid #999;
   color:black;
   text-decoration: none;
   text-align: center;
   font-family: sans-serif;
   border-radius: 6px;
   transition:all .3s ease;
}

li.DesignItem a.PurchaseLink:hover {
   background-color:#ff7d95;
}

/* ------------------------------------------------------------------------ */
/* Contact */
/* ------------------------------------------------------------------------ */

#ContactButton {
   display:block;
   border:2px dashed #ff395e;
   padding:1em;
   width:100%;
   text-align: center;
   background-color: white;
}

#ContactForm h2 {
   margin-top:1em;
   font-size:21px
}

@media screen and (min-width:800px) {
   #ContactForm h2 {
      margin-top:0;
      font-size:26px;
   }  
}

#contact {
   position:absolute;
   overflow:hidden;
   top:0;
   right:0;
   width:100%;
   max-width:600px;
   max-height:100%;
   overflow:scroll;
   padding:2em;
   pointer-events: none;
   opacity:0;
   transition:opacity .3s ease, transform .3s ease;
   background-color: pink;
   transform:translateY(-100%);
}

#contact:target {
   pointer-events: all;
   opacity:1;
   z-index:2;
   transform:translateY(0px);
}

#contact:target form {
   margin:0;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto auto;
   grid-template-areas: "form form" "submit close";
}

#hmu { 
   grid-area: form; 
   margin-bottom:1em;
}
#contact button { 
   grid-area: submit; 
}
#contact #close { 
   grid-area: close; 
}

input, textarea {
   width:100%;
   border:none;
   margin-top:12px;
   padding:.75em;
   font-size:16px;
   border-left:3px solid black;
   border-radius:none;
   appearance: none;
}

textarea {
   min-height: 100px;
}

#contact p {
   margin:0 0 12px 0;
}

#contact button, 
#contact a {
   border:none;
   padding:1em;
   display:block;
   width:100%;
   border:2px dashed black; 
   background-color: transparent;
   font-size:16px;
   text-align: center;
}

#contact button {
   transition:border .3s ease, transform .3s ease;
   cursor: pointer;
}

#contact button:hover {
   border-style:dotted;
   transform:translateY(-4px);
}

#contact a {
   border-color: transparent;
}

label {
   color:black;
}

.g-recaptcha {
   margin-top:1em;
}

/* ------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------ */

#SiteFooter {
   margin-top:2em;
}

@media screen and (min-width:800px) {
   #SiteFooter {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 1auto;
      grid-template-areas: "tech git copy";
      margin-top:4em;
      border-top:8px solid white;
      padding-top:2em;
   }

   #FooterTech {
      grid-area:tech;
   }

   #FooterGit {
      grid-area:git;
      text-align: center;
   }

   #FooterCopyright {
      grid-area:copy;
      text-align: right;
   }
}